In [5]:
#1
tupel=("sara",3,8,400,"rosha",5)
print(tupel[0]) #چاپ اولین عضو که دارای ایندکس 0است
print(tupel[1:4])#چاپ عضو ها از شماره ایندکس 1تا3
print(tupel[:])#چاپ کل  تاپل
print(tupel[1:])
print(tupel[-2])
print(tupel[0:6:2])

sara
(3, 8, 400)
('sara', 3, 8, 400, 'rosha', 5)
(3, 8, 400, 'rosha', 5)
rosha
('sara', 8, 'rosha')

In [3]:
#2
tuple1=(1,2,3,8)
tuple2=("sara","rosha","sasan")
mytuple=tuple1+tuple2
print(mytuple)

(1, 2, 3, 8, 'sara', 'rosha', 'sasan')

In [7]:
#3
tuple3=(1,2,3,"phone")
del tuple3

In [11]:
#4
t1=(1,2,3,4,5)
t2=(90,"omid")
print(len(t1+t2))

7

In [20]:
#5
tupl=(1,2,3,4)
tupl1=(15,90,85)
tupl2=tupl+tupl1
print(max(tupl2))
print(min(tupl2))

90
1

In [24]:
#6
mylist=[1,7,8,"sara"]
mutuple=tuple(mylist)
print(mytuple)

(1, 2, 3, 8, 'sara', 'rosha', 'sasan')

In [3]:
#7
my_list=(1,2,[5,8],16,18)
my_tuple=tuple(my_list)
print(my_tuple)

(1, 2, [5, 8], 16, 18)

In [5]:
#8
mytuple=(1,6,9,"c","a","d")
mylist=list(mytuple)
mylist[1:1]=["sara"]
mylist.remove("c")
mylist[2:3]=["Rosha"]
mytuple=tuple(mylist)
print(mytuple)

(1, 'sara', 'Rosha', 9, 'a', 'd')

In [19]:
#9
tp=(1,2,"c",5,"sasan",5,100,"c",5,"c","b","c")
x=tp.count("c")
print(x)

4

In [4]:
#10
tp=(1,8,9,"ali")
x=tp.index("ali")
print(x)

3

In [8]:
#11
mytuple=(1,2,4,6,8,10)
for i in mytuple:
    s=i*i
    print(i," ",s)

1   1
2   4
4   16
6   36
8   64
10   100

In [12]:
#12
my_list=[("sara"),("omid",2),("ziba",2)]
print(my_list[1])
print(my_list[1][1])

('omid', 2)
2

In [16]:
list1=[(1,11),(2,12),(3,13),(4,14)]
for i in list1:
    print("i=",i)
    print("-----------")

i= (1, 11)
-----------
i= (2, 12)
-----------
i= (3, 13)
-----------
i= (4, 14)
-----------