In [7]:
#1
dict1={"first_name":"shaghayegh","last_name":"shokrollahi","age":25}
print(dict["first_name"])
print(dict["age"])

shaghayegh
25

In [18]:
#2
dict1={"first_name":"shaghayegh","last_name":"shokrollahi","age":25}
dict.clear()
print(dict["first_name"])

KeyError: 'first_name'

In [20]:
#3
dict1={"first_name":"shaghayegh","last_name":"shokrollahi","age":25}
del dict1
print(dict1["age"])

NameError: name 'dict1' is not defined

In [24]:
#4
my_dict = {'C1':[1,2,3],'C2':[5,6,7],'C3':[9,10,11]}
print(my_dict["C1"])

[1, 2, 3]

In [26]:
#5
mydict={"first_name":"shaghayegh","last_name":"shokrollahi","age":25}
mydict["ID"]=12345
print(mydict)

{'first_name': 'shaghayegh', 'last_name': 'shokrollahi', 'age': 25, 'ID': 12345}

In [32]:
#6
x={"name":["ali","sasan","omid"],"age":[23,32,35]}
x.pop("name")
print(x)

{'age': [23, 32, 35]}

In [34]:
#7
for i in range(4):
    s=i**3
    print(i," ",s)

0   0
1   1
2   8
3   27

In [36]:
#8
s={i:i**3 for i in range(4)}
print(s)

{0: 0, 1: 1, 2: 8, 3: 27}

In [40]:
#9
s={i:i*i for i in range(15,35) if i%2==0}
print(s)

{16: 256, 18: 324, 20: 400, 22: 484, 24: 576, 26: 676, 28: 784, 30: 900, 32: 1024, 34: 1156}

In [42]:
#10
N={1:2,3:6,4:8,5:10}
print(len(N))

4

In [48]:
#11
s={1:2,2:22,3:33,4:44}
print(sorted(s))

[1, 2, 3, 4]

In [1]:
#12
r_list=[["ali",23],["reza",36]]
r_dict=dict(r_list)
print(r_dict)

{'ali': 23, 'reza': 36}

In [3]:
#13
keys = ['red', 'green', 'blue']
values = ['#FF0000','#008000', '#0000FF'] 
color_dict=dict(zip(keys,values))
print(color_dict)

{'red': '#FF0000', 'green': '#008000', 'blue': '#0000FF'}

In [7]:
#14
mydic1={1:"Ali",2:"reza"}
mydic2={3:"zahra",4:"neda"}
mydic1.update(mydic2)
print(mydic1)

{1: 'Ali', 2: 'reza', 3: 'zahra', 4: 'neda'}

In [5]:
#15
mydict={1:"Ali",2:"Reza"}
print(mydict.keys())
print(mydict.values())
print(mydict.items())

dict_keys([1, 2])
dict_values(['Ali', 'Reza'])
dict_items([(1, 'Ali'), (2, 'Reza')])

In [7]:
#16
new_dic={"data1":12,"data2":-13,"data3":24}
result=1
for i in new_dic:
    result=result*new_dic[i]
print(result)

-3744

In [9]:
#17
s_set={"sara","rosha",3}
for x in s_set:
    print(x)

sara
3
rosha

In [8]:
#18
s_set={"ali","sasan",225}
s_set.add("sara")
print(s_set)

{'sasan', 225, 'ali', 'sara'}

In [10]:
s_set.add(880)
print(s_set)

{225, 'sasan', 880, 'ali', 'sara'}

In [12]:
#19
N_set={"sasan","rosha",220,880}
N_set.update([777,"neda"])
print(N_set)

{'neda', 777, 'sasan', 880, 'rosha', 220}

In [14]:
#20
s_set={225, 'sasan', 880, 'ali', 'sara'}
s_set.remove(880)
print(s_set)

{'sasan', 225, 'ali', 'sara'}

In [18]:
#20
s_set={'sasan', 225, 'ali', 'sara'}
s_set.discard("sasan")
print(s_set)

{225, 'ali', 'sara'}

In [26]:
#21
set1={1,2,3}
set2={"sasan","naze"}
set1.update(set2)
print(set1)

{'sasan', 1, 2, 3, 'naze'}

In [28]:
#22
set1={1,2,5}
set2={"red","black"}
set3=set1.union(set2)
print(set3)

{1, 2, 'red', 5, 'black'}

In [1]:
#23
s_set=set(("ali","reza"))
print(s_set)

{'ali', 'reza'}

In [5]:
#24
set1={1,2,3,4,5}
set2={1,2,3,4,5,6,7,8,9}
set3=set1.intersection(set2)
print(set3)

{1, 2, 3, 4, 5}

In [7]:
#25
set1={1,3,5,7,9,13}
set2={1,2,3,4,5,6,7,8}
set3=set1&set2
print(set3)

{1, 3, 5, 7}

In [5]:
#26
set1={1,2,3,4,5,6}
set2={1,2,3,7,8,9}
set3=set2.difference(set1)
print(set3)

{8, 9, 7}

In [7]:
#27
new={1,2,3,4,5,6,0}
new2={1,2,3,4,8,9,7}
set3=set1.symmetric_difference(set2)
print(set3)

{4, 5, 6, 7, 8, 9}

In [11]:
#28
my_list=[]
n=int(input("enter number of elements:"))
for i in range(0,n):
    ele=int(input("adding the element:"))
    my_list.append(ele)
print(my_list)

enter number of elements: 5
adding the element: 12
adding the element: 25
adding the element: 26
adding the element: 23
adding the element: 28

[12, 25, 26, 23, 28]

In [1]:
#29
my_list=[]
n=int(input("enter number of elements:"))
for i in range(0,n):

    ele=[input("name:"),int(input(" age:"))]
    my_list.append(ele)
print(my_list)

enter number of elements: 2
name: shaghayegh
 age: 23
name: sara
 age: 18

[['shaghayegh', 23], ['sara', 18]]

In [3]:
#30
mylist=[]
n=int(input("enter number of elements:"))
for i in range(0,n):
    ele=[input("name:"),int(input("age"))]
    mylist.append(ele)
    mydic=dict(mylist)
print(mydic)

enter number of elements: 3
name: shaghayegh
age 23
name: rosha
age 2
name: sara
age 29

{'shaghayegh': 23, 'rosha': 2, 'sara': 29}